* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 20px;
  margin-left: 37px;
  font-size: 55px;
  color: cadetblue;
}

.form {
  max-width: 350px;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 3px;
  background-color: rgb(245, 242, 242);
  margin: auto;
  padding: 32px;
  font-size: 24px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(10, 10, 10);
  outline: transparent;
  font-size: 32px;
}

.form select {
  background-color: transparent;
  outline: transparent;
  font-size: 32px;
  border-radius: 3px;
}

.btn {
  font-size: 32px;
  display: block;
  width: 100%;
  margin: 16px auto;
  color: wheat;
  padding: 4px 8px;
  cursor: pointer;
  background-color: blueviolet;
  border: none;
  border-radius: 12px;
  transform: transform 0, 02s;
}

.btn:hover {
  transform: scale(1.05);
}

.infos {
  max-width: 500px;
  /*margin: 0;
  padding: 0;*/
  margin-top: 14px;
  margin-left: 333px;
  font-size: 24px;
}

@media screen and (max-width: 900px) {
  h1 {
    position: relative;
    margin-left: 89px;
    margin-top: 5px;
    color: cadetblue;
  }

  .infos {
    max-width: 500px;
    position: absolute;
    margin-left: 82px;
    margin-top: -338px;
  }

  p {
    position: absolute;
    margin-left: -63px;
    margin-top: 372px;
    font-size: 45px;
    text-wrap-mode: nowrap;
  }
}
