*{  
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
}  

.form{  
    max-width: 350px; 
    border: 2px solid black;  
    border-radius: 3px;  
    background-color: rgb(219, 206, 206);  
    margin: auto;  
    padding: 32px;  
    font-size: 24px;  
}

 .form-control{  
    display: flex;  
    flex-direction: column;  
 } 

 .form-control input {  
      background-color: transparent;  
      border: none; 
      border-bottom: 1px solid black;  
      outline: transparent;  
      font-size: 32px;  
 }

 .form select {  
    background-color: transparent; 
    outline: transparent;  
    font-size: 32px;  
    border-radius: 3px;  
 }

.btn {  
    font-size: 32px;  
    display: block;  
    width: 100%; 
    margin: 16px auto; 
    color: wheat; 
    padding: 4px 8px; 
    cursor: pointer;  
    background-color: blueviolet;  
    border: none;  
    border-radius: 12px; 
    transform: transform 0,02s
}

.btn:hover{  
    transform: scale(1.05);
}

 .infos {  
      max-width: 500px;  
      margin: 0; 
      padding: 0; 
      margin-top: -550px;
      font-size: 24px;
 }


